<div class="container">
    <form [formGroup]="form1" class="w40">
        <div>
            Available:
            <button mat-button class="blue-txt" (click)="_selectAll()">Select All</button></div>
        <br>
        <mat-card class="display-grid">
            <div formArrayName="list" *ngFor="let item of form1.controls.list?.value; let i = index;" class="chips">
                <div [formGroupName]="i" (click)="removeFromLeft(i)">{{item}}
                </div>
            </div>
        </mat-card>
    </form>

    <span class="material-icons size2em">
        compare_arrows
    </span>


    <form [formGroup]="form2" class="w40">
        <div>
            Selected:
            <button mat-button class="blue-txt" (click)="_clearAll()">Clear All</button></div>
        <br>

        <mat-card class="display-grid">
            <div class="inline-block" formArrayName="list"
                *ngFor="let item of form2.controls.list?.value; let i = index;" class="chips">
                <div [formGroupName]="i" (click)="removeFromRight(i)">{{item}}
                </div>
            </div>
        </mat-card>
    </form>
</div>